<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout">
<th:block layout:fragment="content">
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" th:src="${streamer.getProfile_image_url()}" alt="" width="300" height="300">
        <h1 class="display-5 fw-bold text-body-emphasis" th:text="${streamer.getDisplay_name()}"></h1><h5 th:text="${streamer.getLogin()}"></h5>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4" th:text="${streamer.getDescription()}"></p>
        </div>
        <div class="d-flex justify-content-end mb-3">
            <a type="button" class="btn btn-bd-purple ml-auto" th:href="@{/post/save/{login}(login=${streamer.getLogin()})}">밈 등록</a>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">밈</th>
                <th scope="col">설명</th>
                <th scope="col">비고</th>
                <th scope="col">작성자</th>
                <th scope="col">추천</th>
                <th scope="col">최종수정일</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">예민하네 화났네</th>
                <td class="table-description">우정잉의 대표적인 밈. 우정잉은 몰라도 이건 알 가능성이 높다</td>
                <td>유튭</td>
                <td>잉</td>
                <td>100</td>
                <td>2023.03.30</td>
            </tr>
            <tr>
                <th scope="row">어라랍스타</th>
                <td class="table-description">우정잉이 어쩔티비, 절레절레전래동화 등을 언급하며 만들어낸 새로운 유행어. 파급력이 대단하다.</td>
                <td>유튜브링크</td>
                <td>아차찹쌀떡</td>
                <td>30</td>
                <td>2022.12.09</td>
            </tr>
            <tr>
                <th scope="row">주황립</th>
                <td class="table-description">퍼스널컬러 진단 전부터 우순이들이 제발 버리라고 애원했던 우정잉의 최애템. 이후 주황립을 버리는 영상이 공개되었지만 영상조작설, 주황립 생존설 등 온갖 루머가 퍼질정도로 파급력이 뛰어났다. 얼마 지나지않아 다시 선물받았다고 한다.</td>
                <td>유튜브</td>
                <td>김민킈</td>
                <td>80</td>
                <td>2023.01.10</td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>
</html>