<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout">
<th:block layout:fragment="content">
    <div class="container py-5 my-5">
        <div>
            <div class="mb-3">
                <p>작성자</p>
                <input type="text" class="form-control" id="author" name="author" th:value="${post.getAuthor()}" readonly>
            </div>
            <div class="mb-3 pt-2">
                <p>밈</p>
                <input type="text" class="form-control" id="meme" name="meme" th:value="${post.getMeme()}" readonly>
            </div>
            <div class="mb-3 pt-2">
                <textarea id="summary" class="form-control" th:text="${post.getSummary()}" readonly></textarea>
            </div>
            <div class="mb-3 pt-5" id="description" name="description" th:utext="${post.getDescription()}">
<!--                <p id="description" name="description" th:utext="${post.getDescription()}"></p>-->
            </div>
            <br>
            <input type="hidden" id="login" name="login" th:value="${post.getLogin()}">
            <input type="hidden" id="id" name="id" th:value="${post.getId()}">
            <button type="submit" class="btn btn-bd-purple ml-auto" id="updateForm" th:if="${post.getSub()}==sub or ${#strings.equals(role, 'ADMIN')}">수정하기</button>
            <button type="submit" class="btn btn-bd-purple ml-auto" id="delete" th:if="${post.getSub()}==sub or ${#strings.equals(role, 'ADMIN')}">삭제</button>
        </div>
    </div>

    <script src="/js/post.js"></script>
</th:block>
</html>